[submodule "homepage-project"]
	path = homepage-project
	url = https://github.com/11mia1717/homepage-project.git
[submodule "call-center-project"]
	path = call-center-project
	url = https://github.com/11mia1717/call-center-project.git
